{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts {% bootstrap_messages %} #}

<html>
    <head>
        <title>{% block title %} {% endblock title %}</title>
        <style>
            .card-thumbnail {
                object-fit: none; /* Do not scale the image */
                object-position: center; /* Center the image within the element */
                width: 100%;
                max-height: 250px;
                margin-bottom: 1rem;
              }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
    </head>
    <body>
        {% include "reserve/navbar.html" %}
        {% for message in messages %}          
            <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message | safe }}
            </div>
        {% endfor %}
        <div class="container">
            <div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>