{% extends 'reserve/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% block content %}
    <form action="/create_restaurant/" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
    {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {% endif %}
{% endblock content %}