{% extends 'reserve/base.html' %}

{% load bootstrap4 %}

{% block content %}
    {% if restaurants %}
    <div class="card-columns">
        {% for restaurant in restaurants %}
        <div class="card mb-3">
            <img src="{{ media_url }}{{ restaurant.image }}" alt="{{ restaurant.name }} picture" class="card-img-top card-thumbnail">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'restaurant_detail' restaurant.pk %}">{{ restaurant.name }}</a></h5>
                <p class="card-text">{{ restaurant.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Address: {{ restaurant.address }}</li>
                <li class="list-group-item">Opening hours: ...</li>
                <li class="list-group-item">Rating: {{ restaurant.rating }}</li>
            </ul>
            <div class="card-body">
                {% buttons %}
                    <a href="#" class="btn btn-primary">Reserve seat</a>
                {% endbuttons %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No results found for '{{ search_term }}'</p>
    {% endif %}
{% endblock content %}