{% extends 'reserve/base.html' %}

{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h1>Welcome!</h1>
    <form action="/search/" method="GET">
        {% comment %} {% csrf_token %} {% endcomment %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Search</button>
        {% endbuttons %}
    </form>
{% endblock content %}
